.headerMain {
  position: fixed;
  top: 0;
  left: 0;
  height: 42px;
  width: 360px;
  padding: 10px 25px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.lang {
  display: flex;
  align-items: center;
  padding: 7px 11px 7px 11px;
}

.lang p {
  margin-right: 5px;
}
