:root {
  font-family: "Golos";
  --selection: #f1f8fe;
  --white: white;
  --line: #c6d6e5;
  --description: #577188;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 360px;
  height: 640px;
}
