.choiceMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.choiceMenu:hover {
  cursor: pointer;
  background-color: var(--selection);
}

.headSubMenu {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  margin: 77px 30px 0 9px;
  display: flex;
  align-items: center;
}

.headSubMenu:hover {
  cursor: pointer;
}

.headSubMenu p {
  margin-left: 5px;
}

.subMenuMain {
  display: flex;
  flex-direction: column;
  margin-top: 152px;
  animation: slideDown 0.5s ease;
}

.subMenu {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 30px 0 30px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
